* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    margin: 20px;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 95vh;
    gap: 20px;
}

.nav {
    background-color: black;
    padding-top: 10px;
}

.nav1 a {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 15px;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
}

.button {
    display: flex;
    position: absolute;
    padding-top: 20px;
    right: 40px;
    gap: 10px;
}

.show {
    display: none;
}

.show a {
    color: white;
    text-decoration: none;
}

.hide {
    display: none;
}

.show:hover .hide {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.one {
    border: 2px solid black;
}

#one-1 {
    grid-column: span 4;
    background-image: url(SEA/BKG2.jpg);
    background-position: center;
    background-size: cover;
}

#one-2 {
    grid-column: span 2;
    background-image: url(SEA/BKG3.jpg);
    background-position: center;
    background-size: cover;
}

#one-3 {
    grid-row: span 4;
    background-color: black;
}

#one-4 {
    background-image: url(SEA/BKG5.jpg);
    background-position: center;
    background-size: cover;
}

#one-5 {
    grid-column: span 4;
    background-image: url(SEA/BKG6.jpg);
    background-position: center;
    background-size: cover;
}

#one-6 {
    background-image: url(SEA/BKG7.jpg);
    background-position: center;
    background-size: cover;
}

#one-7 {
    grid-column: span 3;
    background-image: url(SEA/BKG8.jpg);
    background-position: center;
    background-size: cover;
}

#one-8 {
    grid-column: span 3;
    background-image: url(SEA/BKG9.jpg);
    background-position: center;
    background-size: cover;
}

#one-9 {
    grid-column: span 2;
    background-image: url(SEA/BKG10.jpg);
    background-position: center;
    background-size: cover;
}

#one-10 {
    grid-column: span 2;
    background-image: url(SEA/BKG11.jpg);
    background-position: center;
    background-size: cover;
}

#one-11 {
    grid-column: span 2;
    background-image: url(SEA/BKG12.jpg);
    background-position: center;
    background-size: cover;
}

a:hover {
    color: yellow;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 20px;
}

#hvr {
    position: fixed;
    right: 20px;
}

@media screen and (max-width : 767px) {

    .container {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        height: 500vh;
        overflow: hidden;
    }

    .one {
        border: 2px solid black;
    }

    #one-1,
    #one-2,
    #one-4,
    #one-5,
    #one-6,
    #one-7,
    #one-8,
    #one-9,
    #one-10,
    #one-11 {
        grid-column: span 1;
    }

    #one-1,
    #one-8,
    #one-10 {
        background-position: 80%;
    }

    #one-3 {
        grid-row: span 1/1;
        background-color: black;
    }

    .nav {
        display: none;
    }

    .show {
        display: block;
        margin-top: 20px;
        margin-left: 250px;
    }

    .show:hover .hide {
        color: white;
        text-decoration: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    a:hover {
        color: yellow;
    }

    #hvr {
        position: sticky;
        left: 288px;
    }
}